@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.navbar {
    background-color: #e9663b;
    padding: 1rem 0;

}

.navbar-logo {
    font-family: "Pacifico", cursive;
    font-weight: 600;
    font-style: normal;
    font-size: 31px !important;
}

* {
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    height: 50px;
    font-size: 17px;
    text-transform: capitalize;
}

.navbar-logo {
    color: #fff;
    margin: 0;
    font-size: 1.5rem;
}

.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon i {
    color: #fff;
    font-size: 1.5rem;
}

.nav-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-item {
    margin-left: 2rem;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
    .menu-icon {
        display: block;
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 4.5rem;
        left: 0;
        width: 100%;
        background-color: #e9663b;
        padding: 1rem;
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.3s ease, visibility 0.3s ease;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        padding: 0;
    }

    .nav-menu.active {
        opacity: 1;
        visibility: visible;
    }

    .nav-item {
        margin-left: 0;
        margin-bottom: 1rem;
    }
}

.menu-icon {
    font-size: 23px;
    color: white;
}

.login {
    background-color: white;
    padding: 9px 13px;
    color: black;
    border-radius: 10px;
    color: #0c0c0c;
    font-weight: 500;
}

.login:hover {
    color: black !important;
}

.main-body {
    height: 86vh;
    width: 100%;
    background-color: #e9663b;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-left {
    margin-top: -120px;
}



.welcome-text {
    color: white;
}

.welcome-text .big {
    font-size: 80px;
}

.main-right img {
    height: 500px;
    width: 500px;
    border-radius: 20px;
    object-fit: contain;
}

.loginPage {
    height: 100vh;
    background-color: #b4b0b0;
}

.choices {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-wrap: wrap;

}

.choices div {
    background-color: #e6bb47;
    margin: 10px;
    padding: 20px;
    padding: 40px;
    font-size: 30px;
    border-radius: 20px;
    color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .choices {
        width: 100%;
        height: 400px;
        margin: auto;
    }

    .choices div {
        font-size: 17px;
    }

    .loginPage {
        display: flex;
        align-items: center;
    }
}

.choice {
    display: flex;
    height: 100vh;
    justify-content: center;
    ;
    align-items: center;
    background-color: rgb(236, 227, 227) !important;
    flex-wrap: wrap;
    flex-direction: column;

}

.choice2 {
    display: flex;
    flex-wrap: wrap;
}

.choice2 div {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 70px;
    cursor: pointer;
    margin: 0 30px;
    background-color: #e6bc47d6;
    border-radius: 20px;
}

.choice3 {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.choice3 button {
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    color: white;
    border: none;
}

@media screen and (max-width: 768px) {

    .choice2 div {
        margin-top: 17px;
    }

}

.continue {
    color: #ffffff !important;
    background-color: #e6bb47 !important;
    margin-top: 10px;
}

.rowdiv {
    display: flex;
    width: 100% !important;

}

.rowdiv :first-child {
    margin: 0 4px;
}

.sidebar {
    height: 100vh;
    background-color: #e6e156;
    width: 250px;
    border-top-right-radius: 10px;
}

.btn-holder {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.button {
    position: relative;
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    padding-block: 0.5rem;
    padding-inline: 1.25rem;
    background-color: rgb(0 107 179);
    border-radius: 9999px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffff;
    gap: 10px;
    font-weight: bold;
    border: 3px solid #ffffff4d;
    outline: none;
    overflow: hidden;
    font-size: 15px;
}

.icon {
    width: 24px;
    height: 24px;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    transform: scale(1.05);
    border-color: #fff9;
}

.button:hover .icon {
    transform: translate(4px);
}

.button:hover::before {
    animation: shine 1.5s ease-out infinite;
}

.button::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100%;
    background-image: linear-gradient(120deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 255, 255, 0.8),
            rgba(255, 255, 255, 0) 70%);
    top: 0;
    left: -100px;
    opacity: 0.6;
}

@keyframes shine {
    0% {
        left: -100px;
    }

    60% {
        left: 100%;
    }

    to {
        left: 100%;
    }
}

.icon {
    color: white !important;

}

.addimg {
    background-color: #e6bb47;
    width: fit-content;
    padding: 12px;
    border-radius: 10px;
    margin: auto;
}

.imgHolder {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: #63490062;
    margin: auto;
}

.imgHolder img {
    height: 100%;
    width: 100%;
    border-radius: 50%;

}

.homepage {

    background-color: #e5e3e361;
    height: 100vh;
    padding: 0;
    margin: 0;
    width: 100%;
}

.bgimg {
    height: 300px;
    margin: auto;
    border-radius: 50%;
    width: 300px;
    object-fit: contain;
}

.mapRest {
    height: 400px;
    width: 400px;
}

.restaurant-info-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.restaurant-image {
    width: 300px;
    height: 300px;
    margin: auto;
    border-radius: 8px;
}

.restaurant-details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.map-iframe {
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 8px;
}

.restaurant-details p {
    margin: 5px 0;
}

.restaurant-details h2 {
    margin-top: 20px;
}

.AllItem-restaurant {
    display: flex;
    align-items: center;
    height: 20vh;
    justify-content: center;
    flex-wrap: wrap;
}

.AllItem-restaurant div {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.singleItem {
    height: 300px;
}

.singleItem img {
    height: 80%;
}